<div class="content">
	<button id="h1">H1</button>
	<button id="b">B</button>
	<button id="i">I</button>
	<button id="card">card</button>
	<button id="comment">Comment</button>
	<div class="body"></div>

</div>
{{yield}}
