<div class="content">
	<div id="toolbar">
		<button id="h2">H2</button>
		<button id="h3">H3</button>
		<button id="b">B</button>
		<button id="i">I</button>
		<button id="ul">UL</button>
		<button id="ol">OL</button>
		
		<button id="comment">Comment</button>
	</div>
	<div class="body"></div>
	
</div>
{{card-picker cards=cards}}
{{yield}}
