* {
	outline:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: subpixel-antialiased;

}
body {
	font-family: "open sans";
	color: #47525d;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;

}
.content {
    display: table;
    margin: 0 auto;
    width:720px;
    outline:none;
	overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.content img {
	display: block;
	max-width: 100%;
}

h1 {
	font-family: "open sans";
	font-size: 35px;
	margin:0 0 28px 0;
	padding:0;
	font-weight: 600;
	letter-spacing: -1px;
}

p, ul, ol {
	margin: 0 0 28px 0;
}

strong {
	font-weight: 600;
}

a {
	color: #5ba4e5;
}

.card-right {
	float: right;
	margin:-10px 0 0 10px;
	padding:0;
	width:50%;
	line-height: 0px;
}
.card-right .__mobiledoc-card {
	margin: 0 0 0 28px;
}

.card-left {
	float: left;
	margin:-10px 10px 0 0;
	padding:0;
	width:50%;
	line-height: 0px;
}
.card-left .__mobiledoc-card {
	margin: 0 28px 0 0;
}

.card {

	padding:0;
	width:100%;
	line-height: 0px;
}


.__mobiledoc-card {
	margin: 0 0 0 0;
	padding:0;
	
	line-height: 1em;
}


.dropper-left, .dropper-right, .dropper-top, .dropper-bottom {
	position:relative;
}

.dropper-left:before, .dropper-right:after, .dropper-top:before, .dropper-bottom:after {
  content:"";
  display:block;
  position:absolute;
  padding:2px 0;
  line-height:1px;
  width:1px;
  height:100%;
  box-shadow: -13px 0px 0 2px #5ba4e5;
  opacity: 0.5
}


.dropper-top:before {
  width:100%;
  height:0px;
  box-shadow: 0px -13px 0 2px #5ba4e5;
  opacity: 0.5
}

.dropper-right:after {
  height:100%;
  width:1px;
  top:0px;
  right:0px;
  box-shadow: 13px 0px 0 2px #5ba4e5;
}

.dropper-bottom:after {
  width:100%;
  height:0px;
  box-shadow: 0px 13px 0 2px #5ba4e5;
}

/*
 * Experimental version that puts in a place holder to demonstrate how the content will look after dropping, it's anoying.
 */
/*
.dropper-left:before, .dropper-right:after, .dropper-top:before, .dropper-bottom:after {
	display:block;
	background-color: #cecece;
	content:"DROP HERE";
}

.dropper-top:before, .dropper-bottom:after	 {
	width:100%;
	height:200px;
}
.dropper-left:before {
	float:left;
	width:50%;
	height:400px;
}
.dropper-right:after {
	float: right;
	width:50%;
	height:400px;
}
*/

#toolbar {
	position:fixed;
	background-color:#fff;
	width:780px;
	padding:20px 30px 5px 30px;
	margin-left:-30px;
	z-index: 999999;
	top:0px;
	border-bottom: 1px solid #718087;

}
#toolbar button  {
	margin-top:1px;
	color: #718087;
	background-color:#fff;
	border:none;
	border-radius:20px;
	margin-left:10px;
	height:40px;
	min-width: 40px;
	border:1px solid;
	font-size:20px;
}
#toolbar button:hover {
	background-color:#718087;
	color:#fff;
}

#card-holder {
	position:fixed;
	width:145px;
	left:10px;
	top:10px;
}
#card-holder:hover {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}


.card-drop {
	width:120px;
	height:80px;
	border:1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	font-size: 12px;
	line-height: 20px;

	text-align: center;
	color: #fff;

	vertical-align: bottom;
   	opacity: 0.7;
   	margin:10px;
	transition: all ease 0.3s;
}
.card-drop:hover {
	opacity: 1;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
.card-drop:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

.card-drop label {
	display: block;
	background-color: rgba(3,3,3,0.6);

	width:100%;
}




/**SLIDESHOW CARD**/
.card-slideshow {
	height:100%;
	background-color:#000;

}
.card-slideshow p, .card-slideshow textarea {
	display:block;
	box-sizing: border-box;
	width:100%;
	color:#cecece;
	background-color: rgba(3,3,3,0.6);
	font-size: 1em;
	line-height: 1em;
	position:absolute;
	bottom:0px;
	z-index: 9999;
	margin:0;
	padding:10px;
}

.card-slideshow-preview  {
	position:relative;
	border:1px solid;
	overflow: auto;
	z-index: 999999;
	width:100%;
	height:400px;
	background-color: rgba( 0,0,0,0.3);

}

/**SOUNDCLOUD CARD**/
.card-soundcloud {
	background-color:#f50;

	text-align: center;
}

.card-soundcloud label {
	display:block;
	padding:100px 0px 100px 0px;
	font-size:2em;
	line-height: 2.2em;
	color:#fff;
}
.card-soundcloud input {
	width:80%;
	font-size:0.8em;
	margin:10px;
}
.__mobiledoc-editor {
	margin: 80px 0;

/*	color: red;
	-webkit-text-fill-color: black;
*/
}


.card .card-handle, .card-left .card-handle, .card-right .card-handle {
	
	position:absolute;
	margin-top:-40px;
	
	height:40px;
	


	padding:0px 10px 0px 10px;
	text-align:right;
	overflow:hidden;
	display:none;
	
	

}

.card-right .card-handle {
	margin-left:28px;
}

.card:hover .card-handle, .card-left:hover .card-handle, .card-right:hover .card-handle 
{
 	display:block;
}

.card .card-handle button, .card-left .card-handle button, .card-right .card-handle button {
	margin-top:1px;
	color: #718087;
	background-color:#fff;
	border:none;
	border-radius:15px;
	margin-left:10px;
	height:30px;
	min-width: 30px;
	border:1px solid;
	font-size:20px;

	
}

.card .card-handle button:hover, .card-left .card-handle button:hover, .card-right .card-handle button:hover {
	background-color:#718087;
	color:#fff;
}

.card .card-handle button.confirm, .card-left .card-handle button.confirm, .card-right .card-handle button.confirm  {
	animation-duration: 1s;
  	animation-name: rotate;
  	background-color: red;
    color: #e9e8dd;
}

.card-handle button.move {
	background-image: url('http://localhost:4200/assets/move.png');
	background-color: #9fbb58;
	margin-left:-10px;
	margin-right:20px;


	cursor: -webkit-grab;
	cursor: -moz-grab;

}

@keyframes rotate {
  from {
  	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #fff;
    color: #718087;
  }

  to {
  	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(360deg);
    background-color: red;
    color: #e9e8dd;
  }
}