* {
	outline:none;

}
body {
	font-family: "open sans";
	text-align:justify;


}
.content {
    display: table;
    margin: 0 auto;
    width:800px;
    outline:none;
}

h1 {
	font-family: "open sans";
	font-size: 3em;
	margin:30px 0 0 0;
	padding:0;
}

	.card-right {
		float: right;
		margin:-10px 0 0 10px;
		
		padding:0;
		width:400px;
	}

	.card-left {
		float: left;
		margin:-10px 10px 0 0;
		padding:0;
		width:400px;
	}
	.card {
		margin: 10px 10px 0 0;
		padding:0;
		width:800px;
	}
	p {
		
		margin 0 0 12px;
		padding:0;
	}

	.__mobiledoc-card {
		margin:0;
		padding:0;
	}

comment {
	background-color: yellow;
}


.dropper-left {
	box-shadow: -7px 0px 13px -10px rgba(0,6,255,1);
	position:relative;
}
.dropper-left:before {
  content:"\a0";
  display:block;
  position:absolute;
  padding:2px 0;
  line-height:1px;
  width:800px;
  height:100%;
  border-left:5px rgba(0,6,255,1) solid; 
}

.dropper-right {
	box-shadow: 7px 0px 13px -10px rgba(0,6,255,1);
}

.dropper-top {
	/*box-shadow: inset 0px 7px 29px -12px rgba(128,128,128,1);*/
	box-shadow: 0px -7px 13px -10px rgba(0,6,255,1);
}

.dropper-bottom {
	box-shadow: 0px 7px 13px -10px rgba(0,6,255,1);
}


#toolbar {
	position:fixed;

}
#card-holder {
	position:fixed;
	width:160px;
	left:10px;
	top:10px;
}
#card-drop {
	width:160px;
	height:100px;
	border:1px solid;
	border-radius: 5px;
	background-image: url('https://placekitten.com/160/100');
	text-align: center;
	color: #cecece;
	line-height: 100px;
	   opacity: 0.5;
	   margin:10px;
}

#card-drop2 {
	width:160px;
	height:100px;
	border:1px solid;
	border-radius: 5px;
	background-image: url('http://Chartholdr.io/line/160/100');
	text-align: center;
	color: #111111;
	line-height: 100px;
	   opacity: 0.5;
	   margin:10px;
}

